{% include "snippets/head.njk" %}

  <header>
    <details>
      <summary>{% include "icons/languages.svg" %}</summary>
      <ul>
        <li>English</li>
        <li>Deutsch</li>
        <li>Polnisch</li>
      </ul>
    </details>
    {% block header %}{% endblock %}
  </header>

  <main>
    {% block main %}{% endblock %}
  </main>

  <footer>
    {% block footer %}{% endblock %}
  </footer>

{% include "snippets/close.njk" %}